{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import article_card %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    {% include 'user/_header.html' %}
     <div class="col-md-12">
            {% if articles %}
                {% for article in articles %}
                    {{ article_card(article) }}
                    <small>
                        <span class="float-right">{{ moment(article.timestamp).format('LL') }}</span>
                    </small>
                {% endfor %}
            {% else %}
                <div class="tip text-center">
                    <h3>No article.</h3>
                    {% if user == current_user %}
                        <a class="btn btn-link" href="{{ url_for('main.upload') }}">Create New Article</a>
                    {% else %}
                        <a class="btn btn-link" href="{{ url_for('main.explore') }}">Explore</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if articles %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}